html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
    background: black;
}

main {
    height: 100vh;
    overflow: auto;
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    main {
        height: 92vh;
    }
}
